{{#include ../../docs/standalone-verification.md}}
